In [6]:
import pandas as pd
em=pd.read_excel('E-commerce (1).xlsx')
em
#import matplotlib.pyplot as plt

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Revenue,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,15.30,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,22.00,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,17850.0,20.34,United Kingdom
...,...,...,...,...,...,...,...,...,...
230584,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-09-12 12:50:00,0.85,12680.0,10.20,France
230585,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-09-12 12:50:00,2.10,12680.0,12.60,France
230586,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-09-12 12:50:00,4.15,12680.0,16.60,France
230587,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-09-12 12:50:00,4.15,12680.0,16.60,France
230588,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-09-12 12:50:00,4.95,12680.0,14.85,France

In [7]:
# 1) Find the total revenue
print("Total revenue:",em["Revenue"].sum())

Total revenue: 5148073.239999999

In [12]:
# 2) Find the total number of order 
print("Total number of order:",em["InvoiceNo"].value_counts())

Total number of order: 581219     749
581492     731
580729     721
581217     676
537434     675
          ...
569381       1
569380       1
543348       1
556061       1
C546234      1
Name: InvoiceNo, Length: 11072, dtype: int64

In [13]:
# 3) Find the unique number of customers,and give which customer most frequently using e commerce sites.
print("Unique number of Customer:",em["CustomerID"].count())

Unique number of Customer: 170491

In [16]:
print("Which customer most frequently:",em.groupby("Description").max()["Revenue"])

Which customer most frequently: Description
 4 PURPLE FLOCK DINNER CANDLES     30.60
 50'S CHRISTMAS GIFT BAG LARGE    416.00
 DOLLY GIRL BEAKER                216.00
 I LOVE LONDON MINI BACKPACK      187.50
 I LOVE LONDON MINI RUCKSACK        4.15
                                   ...
wrongly coded-23343                 0.00
wrongly marked carton 22804         0.00
wrongly sold (22719) barcode        0.00
wrongly sold as sets                0.00
wrongly sold sets                   0.00
Name: Revenue, Length: 3962, dtype: float64

C:\Users\91984\AppData\Local\Temp\ipykernel_8840\449772159.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  print("Which customer most frequently:",em.groupby("Description").max()["Revenue"])

In [14]:
# 4) Find the revenue by country .
print("Revenue by country:",em.groupby("Country").sum()["Revenue"])

Revenue by country: Country
Australia                 51918.01
Austria                    2999.69
Bahrain                     665.14
Belgium                   17086.58
Canada                     1751.88
Channel Islands            7899.21
Cyprus                     5673.51
Czech Republic              334.99
Denmark                    4998.11
EIRE                     113425.86
European Community          440.55
Finland                   11519.79
France                    87804.11
Germany                   97755.23
Greece                     2149.28
Hong Kong                  1550.59
Iceland                    2540.29
Israel                     1045.75
Italy                      3797.76
Japan                     19074.65
Lithuania                  1661.06
Malta                       863.97
Netherlands               89945.76
Norway                    15495.40
Poland                     3983.12
Portugal                  13776.38
Saudi Arabia                 14.75
Singapore                 14300.42
Spain                     26422.27
Sweden                     9812.21
Switzerland               27864.21
USA                        4314.22
United Arab Emirates        975.54
United Kingdom          4502149.94
Unspecified                2063.01
Name: Revenue, dtype: float64

C:\Users\91984\AppData\Local\Temp\ipykernel_8840\3810452126.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print("Revenue by country:",em.groupby("Country").sum()["Revenue"])

In [18]:
# 5) Find the total number product sold.
print("Total number product sold:",em.groupby("Description").sum()["Quantity"])

Total number product sold: Description
 4 PURPLE FLOCK DINNER CANDLES     86
 50'S CHRISTMAS GIFT BAG LARGE    941
 DOLLY GIRL BEAKER                907
 I LOVE LONDON MINI BACKPACK      137
 I LOVE LONDON MINI RUCKSACK        1
                                 ...
wrongly coded-23343               800
wrongly marked carton 22804       256
wrongly sold (22719) barcode      170
wrongly sold as sets              600
wrongly sold sets                 975
Name: Quantity, Length: 3962, dtype: int64

C:\Users\91984\AppData\Local\Temp\ipykernel_8840\4034766944.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print("Total number product sold:",em.groupby("Description").sum()["Quantity"])

In [ ]:
# 6) Find the top 3 countries in terms of revenue.

In [19]:
# 7) Find the average revenue by country.
print("Revenue by country:",em.groupby("Country").mean()["Revenue"])

Revenue by country: Country
Australia               132.782634
Austria                  27.774907
Bahrain                  47.510000
Belgium                  19.662348
Canada                   22.460000
Channel Islands          21.760909
Cyprus                   23.838277
Czech Republic           27.915833
Denmark                  36.750809
EIRE                     36.065456
European Community       20.978571
Finland                  31.734959
France                   21.776813
Germany                  24.698138
Greece                   18.853333
Hong Kong                46.987576
Iceland                  23.965000
Israel                   13.407051
Italy                    22.605714
Japan                    87.098858
Lithuania                47.458857
Malta                    17.632041
Netherlands             110.770640
Norway                   32.829237
Poland                   20.637927
Portugal                 18.271061
Saudi Arabia             14.750000
Singapore               230.651935
Spain                    26.186591
Sweden                   60.945404
Switzerland              32.897532
USA                      17.609061
United Arab Emirates     26.365946
United Kingdom           21.310338
Unspecified              10.315050
Name: Revenue, dtype: float64

C:\Users\91984\AppData\Local\Temp\ipykernel_8840\217647580.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print("Revenue by country:",em.groupby("Country").mean()["Revenue"])

In [20]:
# 8) Find the maximum revenue by country.
print("Revenue by country:",em.groupby("Country").max()["Revenue"])

Revenue by country: Country
Australia                 1944.00
Austria                    160.00
Bahrain                    205.74
Belgium                    165.00
Canada                     534.24
Channel Islands            131.40
Cyprus                     290.00
Czech Republic              61.20
Denmark                    266.24
EIRE                      1687.17
European Community          45.00
Finland                    551.20
France                    1136.30
Germany                    876.00
Greece                     135.00
Hong Kong                  166.00
Iceland                    249.60
Israel                      75.00
Italy                      120.00
Japan                     3794.40
Lithuania                  122.40
Malta                      160.00
Netherlands               2577.60
Norway                     376.50
Poland                     102.00
Portugal                   557.72
Saudi Arabia                14.75
Singapore                 2382.92
Spain                     1350.00
Sweden                     518.40
Switzerland                300.00
USA                         81.36
United Arab Emirates       153.00
United Kingdom          168469.60
Unspecified                 45.00
Name: Revenue, dtype: float64

C:\Users\91984\AppData\Local\Temp\ipykernel_8840\3634098723.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  print("Revenue by country:",em.groupby("Country").max()["Revenue"])